.st_bt_top_back_btn a {
    background-color: #333545; /* Màu nền */
    color: #ffffff; /* Màu chữ trắng để tạo độ tương phản rõ ràng */
    font-weight: bold; /* Tăng độ dày của chữ để dễ đọc hơn */
}