// .title {
//     margin-top: 50px;
// }

.content{
    margin-top: 20px;
    margin-bottom: 10px;
}

.content h4{
    font-weight: 500;
}




.truncated-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép xuống dòng */
    -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
}