<!-- prs title wrapper Start -->
<div class="prs_title_main_sec_wrapper">
  <div class="prs_title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2>Confirmation Screen</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp; Confirmation Screen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs title wrapper End -->

<!-- st bc Start -->
<div class="st_bcc_main_main_wrapper float_left">
  <div class="st_bcc_main_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="st_bcc_heading_wrapper float_left">
            <i class="fa fa-check-circle"></i>
            <h3>Payment of <span>{{billData?.grand_total}}</span> Complete successfully</h3>
          </div>
        </div>
        <div class="col-md-12">
          <div class="st_bcc_ticket_boxes_wrapper float_left">
            <div class="st_bcc_tecket_top_hesder float_left">
              <p>Your Booking is Confirmed!</p>
              <span>Booking ID {{billData?.id}}</span>
            </div>
            <div class="st_bcc_tecket_bottom_hesder float_left">
              <div class="st_bcc_tecket_bottom_left_wrapper">
                <div class="st_bcc_tecket_bottom_inner_left">
                  <div class="st_bcc_teckt_bot_inner_img">
                    <img width="162px" height="150px" [src]="'http://127.0.0.1:8000/' + bill?.ticket_seats[0]?.movie?.photo" alt="img">
                  </div>
                  <div class="st_bcc_teckt_bot_inner_img_cont">
                    <h4>MOVIE: <span>{{ bill?.ticket_seats[0]?.movie?.name }}</span></h4>
                    <h4 class="my-3">CINEMA: <span>{{ bill?.ticket_seats[0]?.cinema?.name }}</span> </h4>
                    <h4>ROOM: <span>{{ bill?.ticket_seats[0]?.room?.name }} </span></h4>

                  </div>
                  <div class="st_purchase_img">
                    <img src="../../../assets/images/content/pur2.png" alt="img">
                  </div>
                </div>
                <div class="st_bcc_tecket_bottom_inner_right">
                  <i class="fas fa-chair"></i>
                  <h3> TICKETS <br>
                    <span *ngFor="let item of bill?.ticket_seats">  {{ (item?.seat_show_time_status?.seat?.row | uppercase) + item?.seat_show_time_status?.seat?.column }}</span>
                  </h3>
                  <h3> FOOD COMBO <br>
                    <span *ngFor="let food_item of bill?.ticket_food_combo">  {{ food_item?.food_combo?.name + ' - ' + (food_item?.price | currency:'VND':'':'1.0-0') + ' ₫' + '(qty: ' + food_item?.quantity + ')' }}</span>
                  </h3>
                </div>
              </div>
              <div class="st_bcc_tecket_bottom_right_wrapper">
                <div>
                </div>
                <img [src]="'data:image/png;base64,' + barcode" alt="Barcode" width="150px" height="auto">
                <h4>Booking ID<br>{{bill?.id}}</h4>
              </div>
              <div class="st_bcc_tecket_bottom_left_price_wrapper">
                <h4>Total Amount</h4>
                <h5>{{bill?.grand_total | currency:'VND':'symbol'}}</h5>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- st bc End -->

<!-- prs patner slider Start -->
<div class="prs_patner_main_section_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_heading_section_wrapper">
          <h2>Our Patner’s</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_pn_slider_wraper">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p1.jpg" alt="patner_img">
              </div>
            </div>
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p2.jpg" alt="patner_img">
              </div>
            </div>
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p3.jpg" alt="patner_img">
              </div>
            </div>
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p4.jpg" alt="patner_img">
              </div>
            </div>
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p5.jpg" alt="patner_img">
              </div>
            </div>
            <div class="item">
              <div class="prs_pn_img_wrapper">
                <img src="../../../assets/images/content/p6.jpg" alt="patner_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
