.truncate-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Cho phép xuống dòng */
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
  }
  .blogtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép xuống dòng */
    -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
    }