<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                <div class="form-container">
                    <div class="form-icon">
                        <i class="fa fa-user-circle"></i>
                        <span class="signup"><a routerLink="/signin" >Do you already have an account? Sign in</a></span>
                    </div>
                    <form class="form-horizontal" (ngSubmit)="onSubmit()">
                        <h3 class="title">Member Sign up</h3>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email"  [(ngModel)]="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="text"  [(ngModel)]="name" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
                        </div>
                        <button class="btn signin" type="submit">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
