<div class="prs_ec_ue_main_section_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a routerLink="/seat-booking" class="back-button">Back</a>
        <a routerLink="/booking-type" class="continue-button">Continue</a>
        <app-session-timer></app-session-timer>
        <div class="prs_heading_section_wrapper">
          <h2>Select Food Combos</h2>
        </div>
      </div>
      <div class="food-combo-container">
        <div *ngFor="let combo of foodCombos" class="food-combo-item">
          <h3>{{ combo.name }}</h3>
          <p>{{ combo.description }}</p>
          <p>Giá: {{ combo.price }}</p>
          <div class="quantity-controls">
            <button (click)="decreaseQuantity(combo.id)">-</button>
            <input type="number" [(ngModel)]="combo.quantity" min="0" (input)="onQuantityChange(combo.id, $event)">
            <button (click)="increaseQuantity(combo.id)">+</button>
          </div>
        </div>
      </div>
      <p>Tổng chi phí Combo Thực phẩm: {{ totalPriceFoodCombo }}</p>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
