<div class="row">
    <div *ngFor="let combo of foodCombos" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div>
        <h3>{{ combo.name }}</h3>
        <p>{{ combo.description }}</p>
        <p>Giá: {{ combo.price | currency: 'USD' }}</p>
        <div>
          <label for="quantity-{{combo.id}}">Số lượng:</label>
          <input
            type="number"
            id="quantity-{{combo.id}}"
            [(ngModel)]="combo.quantity"
            (ngModelChange)="onQuantityChange(combo, $event)"
            min="0"
          >
        </div>
      </div>
    </div>
  </div>