<div class="prs_vp_main_slider_wrapper">
  <div class="prs_vp_left_slidebar_wrapper">
    <div class="wrap-album-slider">
      <ul class="prs_vp_left_slider">
        <li class="album-slider__item prs_vp_hover_overlay"  *ngFor="let item of image">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="{{item.photo}}" alt="vp_img">	<a href="../../../assets/images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp2.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp3.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp4.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp5.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp6.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
      </ul>
    </div>
  </div>


  <div class="prs_vp_center_slidebar_wrapper">
    <div class="prs_vp_center_slider">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="prs_vp_center_slider_img_wrapper">
            <img src="../../../assets/images/content/vp7.jpg" alt="vp_img">
          </div>
        </div>
        <div class="item">
          <div class="prs_vp_center_slider_img_wrapper">
            <img src="../../../assets/images/content/vp7.jpg" alt="vp_img">
          </div>
        </div>
        <div class="item">
          <div class="prs_vp_center_slider_img_wrapper">
            <img src="../../../assets/images/content/vp7.jpg" alt="vp_img">
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <div class="prs_vp_right_slidebar_wrapper">
    <div class="wrap-album-slider">
      <ul class="prs_vp_right_slider">
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp6.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp5.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp4.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp3.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="images/content/vp2.jpg" alt="vp_img">	<a href="images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
        <li class="album-slider__item prs_vp_hover_overlay">
          <figure class="album">
            <div class="prs_vp_img_overlay">
              <img src="../../../assets/images/content/vp1.jpg" alt="vp_img">	<a href="../../../assets/images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
            </div>
          </figure>
          <!-- End album -->
        </li>
      </ul>
    </div>
  </div>
  <div class="prs_vp_bottom_banner_wrapper">
    <img src="../../../assets/images/content/vp8.jpg" alt="banner">
  </div>
</div>