<div class="st_bt_top_header_wrapper float_left">
	<div class="container container_seat">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left"> <a href="movie_booking.html"><i
							class="fas fa-long-arrow-alt-left"></i> &nbsp;Back</a>
				</div>
				<div class="cc_ps_quantily_info cc_ps_quantily_info_tecket">
					<p>Select Ticket</p>
					<div class="select_number">
						<button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-plus"></i>
						</button>
						<input type="text" name="quantity" value="{{ selectedSeatCount }}" size="2" id="input-quantity"
							class="form-control" />
						<button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-minus"></i>
						</button>
					</div>
					<input type="hidden" name="product_id" />
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left">
					<h3> {{ movie?.name }} - English - {{ movie?.duration }} minutes </h3>
					<h4>{{ formatTime2(showing?.time_release) }}, {{ formatTime(showing?.time_release) }} PM</h4>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_close_btn st_bt_top_close_btn2 float_left"> <a href="#"><i
							class="fa fa-times"></i></a>
				</div>
				<div class="st_seatlay_btn float_left"> <button (click)=" confirmSelection() ">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- st top header Start -->
<!-- st seat Layout Start -->
<div class="st_seatlayout_main_wrapper float_left">
	<div class="container container_seat">
		<div class="st_seat_lay_heading float_left">
			<h3>Ariesplex SL Cinemas</h3>
		</div>
		<div class="st_seat_full_container">
			<div class="st_seat_lay_economy_wrapper float_left">
				<div class="screen">
					<img src="../../../assets/images/content/screen.png">
				</div>

			</div>
			<div class="st_seat_lay_economy_wrapper st_seat_lay_economy_wrapperexicutive float_left">
				<div class="st_seat_lay_economy_heading float_left">
					<h3>Executive + 3d glasss - rs 190.00</h3>
				</div>
				<div class="st_seat_lay_row float_left"  >
					
					<div *ngFor="let column of " class="row">
						<div *ngFor="let seat of seats" class="col-lg-1">
						  <ul >
							
							<li [ngClass]="seat.seat.type == 1 ? 'seat_type_1' : (seat.seat.type == 2 ? 'seat_type_2' : (seat.seat.type == 3 ? 'seat_type_3' : ''))">	
								<input type="checkbox" id="{{seat.id}}" [checked]="isSelected(seat.id)"
								[disabled]="seat.status === 1" (change)="onSeatChange(seat)" name="cb" class="c">
								<label for="{{seat.id}}" >   </label>
							</li>
						  </ul>
						</div>
					  </div>
					  
					  
					  
				</div>

			</div>
		</div>
	</div>
</div>

