<div class="st_bt_top_header_wrapper float_left">
	<div class="container container_seat">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left"> <a href="movie_booking.html"><i
							class="fas fa-long-arrow-alt-left"></i> &nbsp;Back</a>
				</div>
				<div class="cc_ps_quantily_info cc_ps_quantily_info_tecket">
					<p>Select Ticket</p>
					<div class="select_number">
						<button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-plus"></i>
						</button>
						<input type="text" name="quantity" value="{{ selectedSeatCount }}" size="2" id="input-quantity"
							class="form-control" />
						<button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-minus"></i>
						</button>
					</div>
					<input type="hidden" name="product_id" />
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left">
					<h3>Aquaman - English - (2:47)</h3>
					<h4>Today, 19 Dec, 10:00 PM</h4>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_close_btn st_bt_top_close_btn2 float_left"> <a href="#"><i
							class="fa fa-times"></i></a>
				</div>
				<div class="st_seatlay_btn float_left"> <button (click)=" confirmSelection() ">Proceed to Pay</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- st top header Start -->
<!-- st seat Layout Start -->
<div class="st_seatlayout_main_wrapper float_left">
	<div class="container container_seat">
		<div class="st_seat_lay_heading float_left">
			<h3>Ariesplex SL Cinemas</h3>
		</div>
		<div class="st_seat_full_container">
			<div class="st_seat_lay_economy_wrapper float_left">
				<div class="screen">
					<img src="../../../assets/images/content/screen.png">
				</div>

			</div>
			<div class="st_seat_lay_economy_wrapper st_seat_lay_economy_wrapperexicutive float_left">
				<div class="st_seat_lay_economy_heading float_left">
					<h3>Executive + 3d glasss - rs 190.00</h3>
				</div>
				<div class="st_seat_lay_row float_left">
					<div *ngFor="let seat of seats">
						<ul class="">
							<li class="col-lg-3" [ngClass]="{
							'seat_disable': seat.status === 1,
							'seat_available': seat.status === 0
						  }">
								<input type="checkbox" [id]="seat.id" [checked]="isSelected(seat.id)"
									[disabled]="seat.status === 1" (change)="onSeatChange(seat.seat_id)">
								<label [attr.for]="seat.id" [class.selected]="isSelected(seat.id)">
									{{ seat.name }}

								</label>
							</li>
							<h1>{{ seat.seat.row }}</h1>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<style>
	input[type="checkbox"] {
		display: hidden;
	}

	label {
		display: inline-block;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;
	}

	/* External CSS file */
	.seat_disable {
		color: #f2dede;
		/* Light red for unavailable seats */
		cursor: not-allowed;
		/* Change cursor to indicate seat is disabled */
	}

	.seat_available {
		color: #dff0d8;
		/* Light green for available seats */
	}
</style>